/* The alert message box */
.alert {
    width:100vw;
    padding:2rem;
    background-color: #f44336;
    color: white;
    text-align:center;
    position:absolute;
    top:0;
    /* z-index:12; */
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }