@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500&display=swap');


.wrapper{
    /* background-color: rgb(6, 16, 71); */
    background-image: linear-gradient(to right, black, transparent);
    display:flex;
    width:auto; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.group{
    margin:2rem;
    display:flex;
    align-items: center;
    justify-items: center;
}
/* contact us styling */
.contact .wrapper{
    min-height:100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.group3{
    /* margin-top:4rem; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:4rem;
    font-family: 'Times New Roman', Times, serif'
}
.logos{
    display:flex;
    flex-direction: row;
    /* margin-top:2rem; */
}
.logo{
    margin-bottom:2rem;
    margin:1rem;
}

.logo:hover{
    transform:scale(1.2);
    transition: ease-in-out 0.2s;
}

.con-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    font-size:small;
    /* padding:1rem; */
    margin-top:0.8rem;
}
.gmail{
    margin-right:1rem;
}
.container{
    display:flex;
    /* flex-direction: column; */
    align-items: left;
    justify-content: center;
    padding:0;
    /* margin-top:4rem; */
}
.container a{
    text-decoration: none;
    color:#ffeded;
    /* margin-left:2rem; */
    /* margin-right:2rem; */
}
.contact-menu{
    display:block;
    /* margin:4rem; */
    font-family: 'Jura', sans-serif;
}
.contact-menu li{
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    margin-left:0;
    text-align: center;
    list-style-type: none;
    font-family: 'Jura', sans-serif;
}
.contact-menu a{
    text-decoration: none;
    color:#ffededa1;
    font-family: 'Jura';
}
.contact-menu a:hover{
    text-decoration: line-through;
    color: aliceblue;
}

.footer{
    /* margin-top:2rem; */
    color:#FFEDED;
    background-image: image(spark2);
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    font-family: 'Jura';
    /* gap:2rem; */
    /* margin-top:4rem; */
}
.vitmas img{
    margin-bottom:2rem;
    border-radius: 40px;
}
.vitmas img:hover{
    transform:scale(1.1);
    transition: ease-in-out 0.3s;
}

.vitmas{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width:200px;
    font-size: small;
    margin-bottom:2rem;
    
}
.footer-text{
    color:white;
    opacity:75%;
    font-size: 10px;
    /* margin:1rem; */
    font-family: 'Jura';
}

@media screen and (max-width:450px) {
    #contact, .wrapper{
        min-height:100vh;
    }

    .group3{
        flex-direction:column;
    }
}