#Home-Page{
    color:white;
    background-color:var(--primary);
}

#main-heading{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#Home-Page .desc{
    font-family:'Poppins';
    font-weight:100;
    font-size:small;
    word-spacing:1.2rem;
    letter-spacing:0.2rem;
}

#Home-Page .title{
    font-family:'Jura';
    font-size:72px;
    margin-bottom:2rem;
    color: azure;
}

#Home-Page .main-logo{
    height:250px;
}

#timer-section .timer-title{
    font-family:'Jura';
    letter-spacing:0.1rem;
    font-size:48px;
}

#timer-section .timer{
    display:flex;
    font-size:72px;
    font-family:'Poppins';
    letter-spacing:0.2rem;
}

#seconds{
    color:#C3C3C3;
}

.semicolon{
    margin-left:2rem;
    margin-right:2rem;
}

#date{
    margin:2rem;
}

#tracks{
    background-color:orange;
}
#timeline{
    background-color:var(--primary); 
}
#prize{
    background-color:rgb(0, 0, 0);
}
#sponsor{
    background-color:#060C24;;
}
#faqs{
    background-color:#000;
}
#button{
    transition:0.3s;
    padding:1.2rem;
    border-radius:2rem;
    font-family: 'poppins';
    cursor:pointer;
    text-align:center;
    width:15%;
    color:black;
    background:white;
    z-index:9;
}

#button:hover{
    color:white;
    background-color: #060C24;
    border:2px solid white;
}
