#Home-Page{
    color:white;
    background-color:var(--primary);
    background-image: radial-gradient(circle at 100%,transparent 50%,black 65%);
}

#main-heading{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#Home-Page .desc{
    font-family:'Poppins';
    font-weight:100;
    font-size:15px;

    letter-spacing:0.2rem;
    text-align: center;
}

#Home-Page .title{
    font-family:'Jura';
    font-size:92px;
     margin-bottom:0.5rem;
    color: azure;
}

#Home-Page .main-logo{
    height:250px;
}

#timer-section .timer-title{
    font-family:'Jura';
    letter-spacing:0.1rem;
    font-size:48px;
}

#timer-section .timer{
    display:flex;
    font-size:72px;
    font-family:'Poppins';
    letter-spacing:0.2rem;
}

#seconds{
    color:#ff9f29;
}

.semicolon{
    margin-left:2rem;
    margin-right:2rem;
}

#date{
    margin:2rem;
}

#tracks{
    background-image: linear-gradient(to right, black, transparent);
}
#timeline{
    background-image: linear-gradient(to right, black, transparent);
}
#prize{
    background-image: linear-gradient(to right, black, transparent);
}
#sponsor{
    background-image: linear-gradient(to right, black, transparent);
}
#faqs{
    background-image: linear-gradient(to right, black, transparent);
    
}
#button{
    transition:0.3s;
    padding:1.2rem;
    border-radius:2rem;
    font-family: 'poppins';
    cursor:pointer;
    text-align:center;
    width:15%;
    color:black;
    background:white;
    z-index:9;
}

#button:hover{
    color:white;
    background-color: #060C24;
    border:2px solid white;
}

@media screen and (max-width:450px){
    #main-heading{
        flex-direction: column !important;
    }
    #Home-Page .title{
        margin:0;
    }
}