
.prizeheading{
    text-align: center;
    padding-top: 2rem;
    background: linear-gradient(#EF4D23,#FAAC16);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 60px;
    top: 5rem;
    font-weight: 800;
    margin-bottom: 3.5rem;
}

.prizedescription{
    color: white;
    text-align: center;
    margin-top:2rem;
    font-size: 4rem;

}
.easy{

    cursor:pointer;
    font-family:'Trispace';
    font-size:1.2rem;
    font-weight:200;    
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    padding: 2.5%;
    border-radius:3.5rem;
    background: linear-gradient(#4384B4,#112c3d);
    color:white;
    border:none;
    width:44%;
    height: 200px;
    overflow: hidden;
}
.easy:hover, .difficult:hover{
    background:rgba(56, 56, 56, 0.7);
}
.titlep{
    color: wheat;
    font-family: 'poppins';
    font-size: 30px;
}
.parent1{
    justify-content: space-between;
    width: 90%;
    margin-top: 2rem;
}
#desc {
    font-size:25px;
    color:white;
    font-family: 'poppins';
} 

@media (max-width:750px){
    .prizeheading{
        font-size:2rem;
    }
    .prizedescription{
        font-size:small !important;
    }
    .parent1{
        flex-direction: column;
        justify-content: space-between;
        height: 460px;
        margin-right: 1rem;
    }
    .easy{
        width: 90vw;
        padding: 8%;
        margin-right: 300px;
    }
}
@media (max-width:390px) {
    .titlep{
        font-size: 25px;
    }
    .desc{
        font-size: 16px;
    }
}