#prize{
    padding:0;
}
.prizeheading{
    text-align: center;
    padding-top: 2rem;
    background: linear-gradient(#EF4D23,#FAAC16);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 60px;
    top: 5rem;
    font-weight: 800;
    width:fit-content;
    margin-bottom: 3.5rem;
}

.prizedescription{
    color: white;
    text-align: center;
    margin-top:2rem;
    font-size: 4rem;

}
.easy{

    cursor:pointer;
    font-family:'Trispace';
    font-size:1.2rem;
    font-weight:200;    
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    padding: 2.5%;
    border-radius:3.5rem;
    /* background: linear-gradient(#4384B4,#112c3d); */
    color:white;
    border:none;
    width:44%;
    height: 400px;
    overflow: hidden;
    box-shadow:2px 2px 5px grey;
}
.easy:hover, .difficult:hover{
    /* background:rgba(67, 67, 68, 0.7); */
    cursor:default;
    box-shadow:none;
    border:2px solid white;
}
.titlep{
    color: wheat;
    font-family: 'Poppins';
    font-size: 25px;
    text-align:center;
    /* text-decoration: underline; */
}
.parent1{
    justify-content: space-between;
    width: 90%;
    margin-top: 2rem;
}
<<<<<<< HEAD
.desc{
    font-family:'Jura';
    text-align:center;
    letter-spacing:0.1rem;
    margin-top:1rem;
    font-size:15px;
    transition:0.3s all ease;
}
=======
#desc {
    font-size:25px;
    color:white;
    font-family: 'poppins';
} 
>>>>>>> 3402878b06fb00dbdd1eba89eef13b3779e339ad

.prize-list-item{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    margin:2rem;
}
.prize-list-item i{
    font-size:30px;
}
@media (max-width:750px){
    .prizeheading{
        font-size:2rem;
    }
    .prizedescription{
        font-size:small !important;
    }
    .parent1{
        flex-direction: column;
        justify-content: space-between;
        height: 460px;
        margin-right: 1rem;
    }
    .easy{
        width: 90vw;
        padding: 8%;
        margin-right: 300px;
    }
}
<<<<<<< HEAD

=======
@media (max-width:390px) {
    .titlep{
        font-size: 25px;
    }
    .desc{
        font-size: 16px;
    }
}
>>>>>>> 3402878b06fb00dbdd1eba89eef13b3779e339ad
