.sponheading{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;
    background: linear-gradient(#EF4D23,#FAAC16);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
    font-size: 60px;
    top: 2rem;
    font-weight: 800;
}
.spondescription{
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 35px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    margin:2rem;
    flex-direction: column;
}
.img{
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .sponheading{
        font-size: 2rem;
        top: 2rem;
    }
    .spondescription{
        font-size: small;
    }
}
