/* fonts used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
/* variables */

:root{
    --primary: #060C24;
    --secondary: #4384B4;
}

/* Base Styling  */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}
/*  */

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* general section styling */
section{
    min-height:100vh;
    background-color:var(--secondary);
}

/* discord button */
#discord{
    position:fixed;
    bottom:2rem;
    right:2rem;
}
.discord-logo{
    color:white;
    font-size:32px;
    transition:0.3s all ease;
    /* animation: fly 2s linear infinite; */
}
.discord-logo:hover{
    transform:rotate(360deg);
}

.discord-text{
    color:white;
    font-family:'Poppins';
    font-weight:100;
}
/* @keyframes fly {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }  
} */

/* scroll down Overlay */
#scroll-down{
    color:white;
    position:fixed;
    bottom:0;
    left:2rem;
    font-family:'Poppins';
    font-weight:200;
}
.line{
    height:4rem;
    width:1px;
    background-color:white;
}
.text{
    transform:rotate(-90deg);
    margin-bottom:2.5rem;
}
#particles-js{
    height:100vh;
    width:100vw;
    position:absolute;
    background-attachment: fixed;
}