#tracks main {
    padding: 0 64px 64px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Jura';
    color: #06113C;
}

#tracks h1.head {
        text-align: center;
        padding-top: 4rem;
        margin-bottom: 10%;
        background: linear-gradient(#EF4D23,#FAAC16);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 60px;
        top: 3rem;
        font-weight: 800;
        font-family: 'Jura';
        /* animation: animateHead 2s infinite; */
}
    /* @keyframes  animateHead{
        from{
            background-position:0%;
        }
        to{
            background-position: 400% ;
          }
    }   */
    
  

#tracks h2 {
    font-size: 3rem;
    text-align: center;
}

#tracks p {
    font-size: 1.2rem;
}


.card-nb {
    border-radius: 16px;
    margin: 30px auto;
    width: 470px;
    height: 330px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-color: #4384B4;
    background-size: 50%;   
    background-position: center;
    background-repeat: no-repeat;
}

.card-nb:nth-of-type(1) {
    background-image: url(../images/health.png);
}

.card-nb:nth-of-type(2) {
    background-image: url(../images/fintech.png);
}

.card-nb:nth-of-type(3) {
    background-image: url(../images/education.png);
}

.card-nb:nth-of-type(4) {
    background-image: url(../images/openInnovation.png);
}

.card-nb:nth-of-type(5) {
    background-image: url(../images/insideFPV.png);
}

.info {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #fff;
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.5s ease-out;
    color: #06113C;
}

.info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 0.5s ease-out;
}

.card-nb:hover .info,
.card-nb:hover .info:before {
    transform: translateY(0) translateZ(0);
}

.title {
    margin: 0;
    padding: 24px;
    font-size: 40px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
}

.description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width:1400px) {
    .card-nb {
        width: 430px;
        height: 300px
    }
}

@media (max-width:1040px) {
    .card-nb {
        width: 470px;
        height: 350px;
    }
}

#tracks{
    background-color: #060C24;
}

@media (max-width:768px) {
    .card-nb {
        width: 100%;
        height: 200px;
    }
    #tracks h2 {
        font-size: 1rem;
    }
    #tracks p {
        top: 5px;
        font-size: 0.72rem;
    }
    #tracks h1{
        font-size:2rem;
    }
}